# Extract Transform Load #

In [ ]:
# Third part
import pandas as pd
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:,.2f}'.format

# Support ETL library
from support import ETL

In [ ]:
to_replace = [
'''
List of company names.
'''
    ]

value = [
    'Company 1'
   , 'Company 2'
   ,'Company 3'
   ,'Company 4'
   ,'Company 5','Company 5','Company 5'
   ,'Company 5'
   ,'Company 6'
   ,'Company 7'
   ,'Company 8','Company 8','Company 8'
   ,'Company 9'
   , 'Company 10','Company 10','Company 10'
   ,'Company 11','Company 11'
   ,'Company 12'
   ,'Company 13'
   ,'Company 14'
   ,'Company 15'
   ,'Company 16'
   ,'Company 17'
   ,'Company 18','Company 18', 'Company 18'
   ,'Company 19'
   ,'Company 20'
   ,'Company 21'
   ,'Company 22'
    , 'Company 23'
    , 'Company 24'
    , 'Company 25'
    , 'Company 26'
    , 'Company 27'
    , 'Company 28'
    ]

In [ ]:
# Run ETL

df = ETL.ETL('data/orders/', to_replace_company_names = to_replace, value_company_names = value)

In [ ]:
#sample order with lines 711711, 692511, 681211, 237622, 119233, 2137
header_mask = [
    'OrderId','Billing Company','Billing Name','Financial Status'
     ,'Fulfillment Status','Date','Created at','Paid at','Fulfilled at'
     , 'Rate','Currency','Subtotal','Shipping','Total','Total_usd', 'Total_quantity'
     ,'Source','Region','Agent','Distributor','Tags'
    ]

df.loc[(df['Name'] == '#237622') & (df['Currency'].notna()),header_mask]

In [ ]:
#sample order with lines 692511, 681211, 237622, 119233, 2137
columns_mask = [
    'OrderId','Lineitem sku','Lineitem name','Lineitem model'
    ,'Lineitem quantity','Lineitem unit price','Lineitem amount'
    ]

df.loc[df['Name'] == '#237622',columns_mask]