# Extract Transform Load #

In [1]:
# Third part
import pandas as pd
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:,.2f}'.format

# Support ETL library
from support import ETL

In [2]:
to_replace = [
    'Ludoma.*'
    ,'.*Audionord.*'
    ,'THD Eletronics'
    ,'P&C Power Sound LTD'
    ,'.*Power.*International.*','.*Shared Service Center.*','Expert AS'
    ,'Christopher Roberts'
    ,'Nils Markossa'
    ,'PoocketMedia'
    , '.*Audio.*[Gg]amma.*','.*Audiogamma.*','.*Frigoriferi.*Milano.*'
    ,'Yatsing Eastfield Entertainment LTD'
    ,'.*Audiotuning.*', 'Heinz Lichtenegger','.*Audio.*Tuning.*'
    ,'Fidelity.*Sound.*','Shay Simcha'
    ,'Sound.*Pixel.*'
    ,'.*Hifisystem.*'
    ,'HOR AS.*'
    , 'Exertis.*'
    ,'Audio.*Klan.*'
    ,'myRobot Kft'
    ,'Hans.*Trading.*','Jessica Lee','Customer Service & Operation Dept.'
    ,'Atlas Sound & Vision Pte Ltd'
    ,'Pioneer High Fidelity Taiwan Co LTD'
    ,'AV.*Industry.*'
   , '.*Kebayoran.*'
    , 'Audio Marketing Services'
    , 'Connected Distribution.*'
    , 'Dynaudio'
    , 'Ihodomi.*'
    , '.*Nuklon.*'
    , '.*Novosti.*'
    ]

value = [
    'Company 1'
   , 'Company 2'
   ,'Company 3'
   ,'Company 4'
   ,'Company 5','Company 5','Company 5'
   ,'Company 5'
   ,'Company 6'
   ,'Company 7'
   ,'Company 8','Company 8','Company 8'
   ,'Company 9'
   , 'Company 10','Company 10','Company 10'
   ,'Company 11','Company 11'
   ,'Company 12'
   ,'Company 13'
   ,'Company 14'
   ,'Company 15'
   ,'Company 16'
   ,'Company 17'
   ,'Company 18','Company 18', 'Company 18'
   ,'Company 19'
   ,'Company 20'
   ,'Company 21'
   ,'Company 22'
    , 'Company 23'
    , 'Company 24'
    , 'Company 25'
    , 'Company 26'
    , 'Company 27'
    , 'Company 28'
    ]

In [3]:
# Run ETL

df = ETL.ETL('data/orders/', to_replace_company_names = to_replace, value_company_names = value)

orders_export_EU_2021_1_5.csv
orders_export_EU_2021_6.csv
orders_export_US.csv
orders_export_UK.csv
orders_export_UK_1.csv
orders_export_US_2021_6.csv
orders_export_US_2021_1_5.csv
orders_export_EU.csv

In [4]:
#sample order with lines 711711, 692511, 681211, 237622, 119233, 2137
header_mask = [
    'OrderId','Billing Company','Billing Name','Financial Status'
     ,'Fulfillment Status','Date','Created at','Paid at','Fulfilled at'
     , 'Rate','Currency','Subtotal','Shipping','Total','Total_usd', 'Total_quantity'
     ,'Source','Region','Agent','Distributor','Tags'
    ]

df.loc[(df['Name'] == '#237622') & (df['Currency'].notna()),header_mask]

,OrderId,Billing Company,Billing Name,Financial Status,Fulfillment Status,Date,Created at,...,Total_usd,Total_quantity,Source,Region,Agent,Distributor,Tags
7242,#237622-EU,Company 1,Marc Engel,paid,fulfilled,2020-08-31,2020-08-31 08:38:57 -0400,...,"20,569.16",106.00,B2B,INT,CH2,Y,"Distributor, Ludoma"

In [5]:
#sample order with lines 692511, 681211, 237622, 119233, 2137
columns_mask = [
    'OrderId','Lineitem sku','Lineitem name','Lineitem model'
    ,'Lineitem quantity','Lineitem unit price','Lineitem amount'
    ]

df.loc[df['Name'] == '#237622',columns_mask]

,OrderId,Lineitem sku,Lineitem name,Lineitem model,Lineitem quantity,Lineitem unit price,Lineitem amount
7242,#237622-EU,SWBE,Solo - EU Dealers - walnut,Solo,4,142.86,571.44
7243,#237622-EU,SPWWE,Solo - EU Dealers - White,Solo,4,159.66,638.64
7244,#237622-EU,SPBBE,Solo - EU Dealers - Black,Solo,4,159.66,638.64
7245,#237622-EU,DWBE,Duetto - EU Dealers - Walnut,Duetto,8,142.86,"1,142.88"
7246,#237622-EU,DPWWE,Duetto - EU Dealers - White,Duetto,4,147.06,588.24
7247,#237622-EU,DPBBE,Duetto - EU Dealers - Black,Duetto,6,147.06,882.36
7248,#237622-EU,DHBE,Duetto - EU Dealers - Hickory,Duetto,4,147.06,588.24
7249,#237622-EU,MPWWE,Musica - EU Dealers - White,Musica,2,268.91,537.82
7250,#237622-EU,MPBBE,Musica - EU Dealers - Black,Musica,12,268.91,"3,226.92"
7251,#237622-EU,MHBE,Musica - EU Dealers - Hickory,Musica,14,268.91,"3,764.74"
7252,#237622-EU,AMTBEK,Amico - EU Dealers - Teak,Amico,30,142.86,"4,285.80"
7253,#237622-EU,ASTBU,Amica - EU Dealers - Teak,Amica,4,54.62,218.48
7254,#237622-EU,APCU,Protective Cover for Amico/Amica,Protective Cover for Amico/Amica,10,14.29,142.90